div.hamburger{
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 50px;
    display: flex;
    flex-direction: column;
    top:10px;
    right: 25px;
    justify-content: space-around;
}

div.hamburger>div {

height: 6px;
background-color: black;
}